body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    background-image: url('../images/background-color.png');
}


#footer {
    background-color: rgb(22, 22, 22);
    color: white;
    font-size: 10px;
    position: relative;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }

    header {
        margin-left: 0;
        margin-right: 0;
    }
}