/* Header styles */
header {
    text-align: center; /* Center the content within the header */
    max-width: 80%; /* Set the desired width for the header */
    margin: 0 auto; /* Center the header in the page */
    overflow: hidden;
    background-image: url('../images/background-color.png');
    background-size: cover;
    background-position: center;
    max-height: 500px;
}

header img {
    width: 100%;
    height: auto;
    display: block;
}

/* Navigation styles */
nav {
    margin: 0 auto; /* Center the navbar in the page */
    width: 80%; /* Set the desired width for the navbar */
    background-color: #1b1919;
    overflow: hidden;
    z-index: 1000;
    padding-top: 2%;
    padding-bottom: 2%;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Dropdown styles */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Show the dropdown content when the "show" class is present */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #302f2f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Add a higher z-index value than the navigation bar */
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Adjust the hover behavior for the dropdown button */
.dropbtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 16.1px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 16px;
    background-color: inherit;
    margin: 0;
    cursor: pointer;
}

.dropbtn:hover,
.dropdown.clicked .dropbtn {
    background-color: #ddd;
    color: black;
    font-weight: bold;
}
