RewriteEngine On

# Redirect requests with .html to non-.html URLs
RewriteCond %{THE_REQUEST} \.html [NC]
RewriteRule ^(.+)\.html$ /$1 [R=301,L]

# Rewrite requests without .html to append .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
